<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366079073585-0p88tf6nkij9p7e2oq4ppa9vkqn0rt9i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366079073585-0p88tf6nkij9p7e2oq4ppa9vkqn0rt9i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>366079073585-igip2e96akn4rn1qhodskaincsn1k1th.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCURjJPhKI7HlhRSyD7-imRIBHRyiX4nNo</string>
	<key>GCM_SENDER_ID</key>
	<string>366079073585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.antz.connectanon</string>
	<key>PROJECT_ID</key>
	<string>connect-anonymous</string>
	<key>STORAGE_BUCKET</key>
	<string>connect-anonymous.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366079073585:ios:12fe9c46689570c6652410</string>
</dict>
</plist>